button:active {
  background: yellow;
}
input:checked ~ .box {
  background: orange;
}
.close-btn {
  color: red;
}
input:checked + .open-btn {
  color: red;
}
input:checked ~ .close-btn {
  color: initial;
}
/*
radio, checkbox --> Pseudo class :checked

selector: +, ~
*/
